<div class="menu">
  <ul>
    <li><LinkTo @route="application">Home</LinkTo></li>
    <li><LinkTo @route="organizations">Organizations</LinkTo></li>
    <li><LinkTo @route="site-epochs">Site Epochs</LinkTo></li>
    <li><LinkTo @route="equipment-installations">Equipment Installations</LinkTo></li>
    <li><LinkTo @route="telemetry-connections">Telemetry Connections</LinkTo></li>
    <li><LinkTo @route="telemetry-nodes">Telemetry Nodes</LinkTo></li>
  {{#if session.isAuthenticated}}
    <li><LinkTo @route="login">Logout</LinkTo></li>
  {{else}}
    <li><LinkTo @route="login">Login</LinkTo></li>
  {{/if}}
  </ul>
</div>

<div class="main">
{{outlet}}

</div>
