
<h3>SIS Webservices API Example</h3>

<h5>A simple <a href="https://www.emberjs.com">Ember</a> web application to test the new SIS API calls.</h5>

  <p>Currently this web application limits the results from SIS to
    just sites, connections and nodes within the CO network and does
    not do pagination, meaning you only get the first 10 items of each
    type. This is also using the sis-test system with the v1 api calls.
    The SIS API is very much expected to evolve and so this system may break
    at any time, but I will try to update to follow the api as revisions
    are made.</p>

<p><a href="https://anss-sis.scsn.org/sistest/api/v1/docs">SIS-Test API Documentation</a> (login required)
</p>

<p><a href="https://github.com/crotwell/SIS_api_play">Source at GitHub</a>
</p>
